<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}default.css" media="screen" />
<title>PyMIME Attachment Service</title>
</head>
<body>
<div id="site">
<div id="header">
<h1><span class="green">Py</span>MIME</h1>
<strong>Mail Attachment Service</strong>
</div>
<h2>Report mail</h2>
<p>You are reporting this mail:</p>
<div id="reported_mail">
<h3>{{mail.subject}}</h3>
<p><strong>Sender: </strong>{{mail.sender}}<br />
<strong>Receiver: </strong>{{mail.receiver}}<br />
<strong>Date: </strong>{{mail.date}}<br />
</p>
<h4>Attachments</h4>
{% for attachment in mail.attachments.all %}
<h5>{{attachment.filename_orig}}</h5>
<p><strong>Content-type: </strong>{{attachment.content_type}}<br />
<strong>File size: </strong>{{attachment.printsize}}</p>
{% endfor %}
<h4>Dropped attachments</h4>
{% for attachment in mail.dropped_attachments.all %}
<h5>{{attachment.filename}}</a></h5>
<p><strong>Content-type: </strong>{{attachment.content_type}}<br />
<strong>Reason: </strong>{{attachment.reason}}</p>
{% endfor %}
</div>

<div id="reportform">
<p>Please state the reason why you want to report the mail.<br />
On form submission, your IP will be saved to prevent abuse of the service.</p>
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
</div>

<div id="footer">
<a href="{{ mail.get_admin_url }}">Admin</a>
</div>
</div>
</body>
</html>
