<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}default.css" media="screen" />
<title>PyMIME Attachment Service</title>
</head>
<body>
<div id="site">
<div id="header">
<h1><span class="green">Py</span>MIME</h1>
<strong>Mail Attachment Service</strong>
</div>
<h2>{{mail.subject}}</h2>
<p><strong>Sender: </strong>{{mail.sender}}<br />
<strong>Receiver: </strong>{{mail.receiver}}<br />
<strong>Date: </strong>{{mail.date}}<br />
<strong>Attachments available until: </strong>{{mail.max_age_date}}
{% if mail.archive_url %}
<br />Original mail available in the mail archive <a href="{{mail.archive_url}}">here</a>.
{% endif %}
</p>
<h3>Attachments</h3>
{% for attachment in mail.attachments.all %}
<h4><a href="{{attachment.file.url}}">{{attachment.filename_orig}}</a></h4>
<p><strong>Content-type: </strong>{{attachment.content_type}}<br />
<strong>File size: </strong>{{attachment.printsize}}</p>
{% endfor %}
<h3>Dropped attachments</h3>
{% for attachment in mail.dropped_attachments.all %}
<h4>{{attachment.filename}}</a></h4>
<p><strong>Content-type: </strong>{{attachment.content_type}}<br />
<strong>Reason: </strong>{{attachment.reason}}</p>
{% endfor %}
<div id="footer">
<a href="{{ mail.get_admin_url }}">Admin</a>
</div>
</div>
</body>
</html>