*.pyc
.project
.pydevproject
.settings
dist/
virt/
build/
MANIFEST
integration/django_attachmentstore/static/*
integration/django_attachmentstore/media/*
integration/django_attachmentstore/sqlite.db
distribute*.egg
distribute*.tar.gz
PyMIME.egg-info
doc/_build/*
