recursive-include pymime *.py *.conf.default
recursive-include pymime/django_app/pymime_attachmentservice/templates *
recursive-include pymime/django_app/pymime_attachmentservice/static *
include pymime/plugins/footer.en
include pymimec pymimed
